doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        script(src = "/highcharts/highcharts.js")
        script (src="/js/themes/gray.js")
        script(src = "https://code.highcharts.com/highcharts.js")
    body
        p Department information breakdown for month: #{month} year: #{year}
        div#container(style="width: 950px; height: 400px; margin: 0 auto")
          script.
            var data_output = !{data_output};
            console.log(data_output['HEALTH AND HUMAN SERVICES'])
            var chart;
               $(document).ready(function() {
                var chartdata = [],
                labels = [];
                
                var chart = {
                   type: 'column'
                };
                var title = {
                   text: "Total Spend by department."
                };
                var subtitle = {
                   text: 'Source: Bouquet.inc!'  
                };
                var xAxis = {
                   type: 'category',
                   labels: {
                      rotation: -45,
                      style: {
                          fontSize: '13px',
                          fontFamily: 'Verdana, sans-serif'
                      }
                   }
                };
                var yAxis = {
                   min: 0,
                   title: {
                      text: 'Spend (thousands)'         
                   }      
                };
                var tooltip = {
                   headerFormat: '<span style = "font-size:10px">{point.key}</span><table>',
                   pointFormat: '<tr><td style = "color:{series.color};padding:0">{series.name}: </td>' +
                      '<td style = "padding:0"><b>{point.y:.1f}</b></td></tr>',
                   footerFormat: '</table>',
                   shared: true,
                   useHTML: true
                };
                var plotOptions = {
                   column: {
                      pointPadding: 0.2,
                      borderWidth: 0
                   }
                };
                var credits = {
                   enabled: false
                };

                var series = [{
                  name: 'Monthly Spend by Department',
                  data: [
                      ['HEALTH AND HUMAN SERVICES', data_output['HEALTH AND HUMAN SERVICES']],
                      ['HUMAN RESOURCES', data_output['HUMAN RESOURCES']],
                      ['DEPARTMENT OF PUBLIC WORKS', data_output['DEPARTMENT OF PUBLIC WORKS']],
                      ['DEPARTMENT OF FINANCE', data_output['DEPARTMENT OF FINANCE']],
                      ['CULTURAL SERVICES', data_output['CULTURAL SERVICES']],
                      ['MARIN COUNTY PARKS', data_output['MARIN COUNTY PARKS']],
                      ['MARIN COUNTY FIRE', data_output['MARIN COUNTY FIRE']],
                      ['MARIN COUNTY FREE LIBRARY', data_output['MARIN COUNTY FREE LIBRARY']],
                      ['PROBATION', data_output['PROBATION']],
                      ['AGRICULTURE WEIGHTS MEASURES', data_output['AGRICULTURE WEIGHTS MEASURES']]
                ]
                }];
             
                var json = {};   
                json.chart = chart; 
                json.title = title;   
                json.subtitle = subtitle; 
                json.tooltip = tooltip;
                json.xAxis = xAxis;
                json.yAxis = yAxis;  
                json.series = series;
                json.plotOptions = plotOptions;  
                json.credits = credits;
                $('#container').highcharts(json);
             });

    block content
    form(action='/date', method='POST')
      p
        |Date: 
        input(type='date', name='month', value='', min="2014-12-31", max="2017-12-31")
      input(type='submit', value='Submit')